@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-300;
  height: -webkit-fill-available;
}

body {
  @apply h-screen;
  min-height: -webkit-fill-available;
}

.full-height {
  @apply h-screen;
  min-height: -webkit-fill-available;
}

a {
  @apply text-yellow-700 dark:text-yellow-600 underline;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

a:hover {
  @apply text-yellow-500 dark:text-yellow-500;
}
